.AppLayout {
  font-family: Roboto;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logoHeaderImg {
  width: 2.8rem;
  padding: 1rem;
  display: block;
}
@media (max-width: 768px) {
  .logoHeaderImg {
    display: none;
  }
}
.navItems > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.navItem {
  text-decoration: none;
}
.hide-on-mob {
  display: block;
}
@media (max-width: 768px) {
  .hide-on-mob {
    display: none;
  }
}

.navItems > ul > li {
  margin: 1rem;
}

.logoHeader {
  align-items: center;
  display: flex;
}
.LocationHeader {
  font-size: small;
  color: rgb(117, 117, 117);
}
.body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
.carouselItems {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.carouselItems > ul {
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
/* .carouselItems > ul > li {

} */
.carouselImg {
  width: 9rem;
}
@media (max-width: 768px) {
  .carouselImg {
    width: 5rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
.sectionTitle {
  margin-top: 2rem;

  font-weight: bolder;
  font-size: larger;
  margin-bottom: 2.4rem;
}
.sectionTitle-carousel {
  margin-top: 1rem;
  font-weight: bolder;
  font-size: larger;
}
@media (max-width: 768px) {
  .sectionTitle-carousel {
    margin-bottom: 1.3rem;
  }
}
.line-divider {
  border-top: 1px solid #e8e8e8;
}
.res-card-main {
  justify-content: space-between;
  width: 12rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}
.res-card {
  width: 100%;
}
.res-card-img {
  width: 13.5rem; /* Set the width of the box (300px / 16px = 18.75rem) */
  height: 9rem; /* Set the height of the box */
  border-radius: 1.25rem; /* Set the radius for rounded corners (20px / 16px = 1.25rem) */
  overflow: hidden; /* Hide the overflow to mask the image */
  display: flex; /* Optionally, use flex to center the image */
  justify-content: space-between; /* Center the image horizontally */
  /* align-items: center; */
}
.resto-name {
  display: inline-block;
  max-width: 7rem; /* Set the desired width */
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis;
}

.shimmer-card {
  width: 18rem; /* Set the width of the box (300px / 16px = 18.75rem) */
  height: 10rem; /* Set the height of the box */
  border-radius: 1.25rem; /* Set the radius for rounded corners (20px / 16px = 1.25rem) */
  overflow: hidden; /* Hide the overflow to mask the image */
  display: flex; /* Optionally, use flex to center the image */
  justify-content: space-between;
  background-color: #eeeeee;
  flex-wrap: wrap;
}
.shimmer-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.login-auth {
  cursor: pointer;
}

@media (max-width: 768px) {
  .res-card-img {
    width: 8rem;
    height: 7.5rem;
  }
}
@media (max-width: 768px) {
  .res-card {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .resto-details {
    margin: 2rem;
  }
}
.masked-image {
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: 100%; /* Ensure the image takes up the full height of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
.resto-details {
  margin-top: 0.6rem;
}
.resto-location {
  font-size: medium;
  color: rgb(113, 113, 113);
}
.rest-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  gap: 2rem; /* Adds space between items */
}

.flex-item {
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
  min-width: 15rem;
}
.resto-name {
  font-size: larger;
  font-weight: bold;

  color: rgb(38, 38, 38);
}
.resto-rating {
  font-weight: bold;
  color: #494949;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  .resto-name {
    font-size: smaller;
    display: inline-block;
    max-width: 7rem; /* Set the desired width */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text */
  }
  .resto-rating {
    font-size: smaller;
    display: inline-block;
    max-width: 8rem; /* Set the desired width */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text */
  }
  .resto-location {
    font-size: smaller;
    display: inline-block;
    max-width: 7rem; /* Set the desired width */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text */
  }
}
.main-location {
  font-weight: bold;
  font-size: small;
  color: black;
  text-align: left;
}
.hamburger {
  display: none;
  font-size: 2.5rem;
  color: rgb(112, 112, 112);
  margin: 0.4rem 0;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.order-now-mb {
  display: none;
  background-color: #fc8019;
  color: azure;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}
@media (max-width: 768px) {
  .order-now-mb {
    display: block;
  }
}
.center-dot {
  font-size: 1.2em;
  line-height: 1;
  vertical-align: text-top;
  /* align-items: center; */
  padding: 0 0.3rem;
  color: rgb(38, 38, 38);
}
/* .fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
} */
.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* menu */

.menu-bar {
  display: none;
}
@media (max-width: 768px) {
  .menu-bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .nav-label {
    margin-top: 4px;
    font-size: 12px;
    color: #333;
  }
}
.nav-logo {
  width: 1.2rem;
  color: black;
}
/* menu end */

.mob-carousel {
  display: none;
}

@media (max-width: 768px) {
  .mob-carousel {
    display: block;
  }
  .img-fav-caro {
    width: 10rem;
  }
}
.fav-rest-caro {
  display: flex;
  justify-content: space-between;
}
.top-rated-resto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.top-rated-resto-btn {
  background-color: #eeeeee;
  color: #3a3939;
  border-width: 0.5rem;

  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem 0;
  cursor: pointer;
}
.mgroad-resto-btn {
  background-color: #eeeeee;
  color: #3a3939;
  border-width: 0.5rem;

  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem 0;
  cursor: pointer;
}
.top-rated-resto-btn:hover {
  transform: scale(0.95);
}
.top-rest-title {
  margin-right: 0.5rem;
}
.filter-resto {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  align-items: center;

  flex-wrap: wrap;
}
.search-filter > input {
  border-color: #ababab;
  border-radius: 0.4rem;
  opacity: 35%;
  border-width: 0.1rem;
  height: 1.5rem;
  font-size: 16px;

  margin-right: 0.4rem;
}
.search-filter {
  display: flex;
  flex-wrap: wrap;
}

.search-btn {
  border: none;
  background-color: #fc8019;
  color: #ffffff;
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.button-filter {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.error-main {
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.error-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  font-size: large;
  text-align: center;
}
.error-item > a {
  text-decoration: none;
}
.err-title {
  font-size: 2rem;
  font-weight: bolder;
  width: 100%;
}
.err-desc {
  width: 100%;
  color: #8d8d8d;
}
.err-btn {
  background-color: #fc8019;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}
.offer-page {
  font-size: larger;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.resto-menu-box {
  background-color: #ffffff;
  border-width: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 12rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  border-color: #000000;
  margin: 1.5rem 0;
}
.body-menu {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
.resto-menu-details {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.resto-menu-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.resto-menu-header {
  margin: 1rem 0;
}
.rating-svg {
  margin-right: 0.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.2rem;
}
.user-img {
  width: 100%;
  padding: 1rem 0;
  border-radius: 1rem;
}
.user-details > span {
  width: 100%;
}
.user-card-items {
  width: 10rem;
  border: 10px black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
}
.user-follow-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.user-followers {
  font-weight: bold;
  color: #3a79cb;
  width: 100%;
}
.user-cards {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}
.follow-btn {
  background-color: #3a79cb;

  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  height: 2rem;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  align-items: center;
  justify-content: center;
}
.profile-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
