.AppLayout {
  font-family: Helvetica;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.logoHeaderImg {
  width: 2.8rem;
  padding: 1rem;
}
.navItems > ul {
  display: flex;
  list-style: none;
}

.navItems > ul > li {
  margin: 1rem;
}

.logoHeader {
  align-items: center;
  display: flex;
}
.LocationHeader {
  font-size: small;
  color: rgb(117, 117, 117);
}
.body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
.carouselItems > ul {
  list-style: none;
  display: flex;
}
.carouselItems > ul > li {
  display: flex;
}
.carouselImg {
  width: 9rem;
}
.sectionTitle {
  margin-top: 2rem;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 1rem;
}
.line-divider {
  border-top: 1px solid #e8e8e8;
}

.res-card-img {
  width: 18rem; /* Set the width of the box (300px / 16px = 18.75rem) */
  height: 10rem; /* Set the height of the box */
  border-radius: 1.25rem; /* Set the radius for rounded corners (20px / 16px = 1.25rem) */
  overflow: hidden; /* Hide the overflow to mask the image */
  display: flex; /* Optionally, use flex to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center;
}
.masked-image {
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: 100%; /* Ensure the image takes up the full height of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
.resto-details {
  margin-top: 0.6rem;
}
.resto-location {
  font-size: medium;
  color: rgb(113, 113, 113);
}
.rest-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  gap: 1rem; /* Adds space between items */
}
.flex-item {
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
  min-width: 15rem;
}
.resto-name {
  font-size: larger;
  font-weight: bold;

  color: rgb(38, 38, 38);
}
.center-dot {
  font-size: 1.2em;
  line-height: 1;
  vertical-align: middle;
  padding: 0.3rem;
  color: rgb(38, 38, 38);
}
/* .fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
} */
.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}
